<%- include header%>
<% articles.forEach(function (article, index) { %>
  <p><h2><a href="#"><%= article.title %></a></h2></p>
  <p class="info">
    作者：<a href="#"><%= article.name %></a> |
    日期：<%= article.time.minute %>
  </p>
  <p><%- article.article %></p>
  <p class="info">阅读：<%= article.pv %> | 评论：<%= article.comments.length %></p>
<% }) %>
<%- include footer%>
